@model passion_project.ViewModel.Appointment.AppointmentVM

@{
    ViewData["Title"] = "Create";
}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#timeAvailable').append($("<option></option>").val("placeholder").text("Select Doctor and Date"));
        $('#timeAvailable').val("placeholder");
        $("#timeAvailable").prop("disabled", true);
        $("#appointmentDate").change(function () {
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            var options = {};
            options.url = "/Appointment/GetAvailableTime";
            options.type = "POST";
            options.data = { id: id , selectedDate: $("#appointmentDate").val() };

       
            options.success = function (data) {
                data = $.map(data, function (item, a) {
                    return "<option value=" + item + ">" + item + "</option>";
                });
                
                 $("#timeAvailable").html(data.join(""));
                 $("#timeAvailable").prop("disabled", false);
            };
            options.error = function () { alert("Error retrieving available appointments!"); };
            $.ajax(options);
        });
    });
</script>

<h1>Create</h1>

<h4>AppointmentVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="PatientFirstName" class="control-label"></label>
                    <input asp-for="PatientFirstName" class="form-control" />
                    <span asp-validation-for="PatientFirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PatientLastName" class="control-label"></label>
                    <input asp-for="PatientLastName" class="form-control" />
                    <span asp-validation-for="PatientLastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PatientEmailAddress" class="control-label"></label>
                    <input asp-for="PatientEmailAddress" class="form-control" />
                    <span asp-validation-for="PatientEmailAddress" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="PatientEmailAddress" class="control-label"></label>
                    <input asp-for="PatientEmailAddress" class="form-control" value="@User.Identity.Name" />
                    <span asp-validation-for="PatientEmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PatientFirstName" class="control-label"></label>
                    <input asp-for="PatientFirstName" class="form-control" value=@ViewBag.PatientFirstName />
                    <span asp-validation-for="PatientFirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PatientLastName" class="control-label"></label>
                    <input asp-for="PatientLastName" class="form-control" value=@ViewBag.PatientLastName />
                    <span asp-validation-for="PatientLastName" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="DoctorFirstName" class="control-label"></label>
                <input asp-for="DoctorFirstName" class="form-control" />
                <span asp-validation-for="DoctorFirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DoctorLastName" class="control-label"></label>
                <input asp-for="DoctorLastName" class="form-control" />
                <span asp-validation-for="DoctorLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" id="appointmentDate" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AppointmentTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("timeAvailable", String.Empty)
                    @Html.ValidationMessageFor(model => model.AppointmentTime)
                </div>
            </div>


            <div class="form-group">
                <label asp-for="AppointmentSummery" class="control-label"></label>
                <input asp-for="AppointmentSummery" class="form-control" />
                <span asp-validation-for="AppointmentSummery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
