

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Patient" asp-action="Index">Patient List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Doctor" asp-action="Index">Doctor List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="UserRole" asp-action="Create">User Role</a>
    </li>
}