@using passion_project.Models.HealthCenter
@inject ApplicationDbContext _context

@{
    var patient = _context.Patient.FirstOrDefault(p => p.PatientEmailAddress == @User.Identity.Name);
}


@if (User.Identity.IsAuthenticated && !User.IsInRole("Admin") && !User.IsInRole("Doctor"))
{
    if (patient == null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Patient" asp-action="Create">Profile</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Patient" asp-action="Details" asp-route-id="@patient.PatientId">Profile</a>
        </li>
    }

}